* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

body{
    font-family: Arial;
}

#map {
    height: 100vh;
    width: 100%;
    z-index: 0;
}


.header {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    z-index: 1000;
    background: rgba(26, 26, 46, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 35px;
}

.description {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 400px;
    background: rgba(26, 26, 46, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    z-index: 100;
}


/* HOVER INFO */
.hover-info {
    position: absolute;
    font-size: 0.9em;
    top: 180px;
    left: 10px;
    width: 300px;
    /* transform: translateX(-50%); */
    background: rgba(26, 26, 46, 0.95);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-align: center;
    display: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 100;
}

.hover-info.show {
    display: block;
}

.hover-header {
    font-size: 20px;
    color: rgb(27, 207, 27);
    margin-bottom: 4px;

}

.hover-paragraph-text {
    font-size: 13px;
    color:  rgb(173, 173, 173);;
    margin-top: 0px;
    padding-bottom: 10px;
    border-width: 1px;
    border-color: rgba(160, 160, 160, 0.3);
    border-bottom-style: solid;
    margin-bottom: 0px;
}

.hover-paragraph-highlight-text {
    font-size: 13px;
    color: rgb(27, 207, 27);
}

.popup-section-header{
    font-size: 14px;
    font-weight: bold;
    color: rgb(27, 207, 27);
    padding-bottom: 4px;
}

.popup-section-row {
    color: rgb(173, 173, 173);
    font-weight: 500;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;;
}

.hover-field-name {
    text-align: left;
    flex: 2;
    font-weight: bold;
    font-size: 13px;
}

.hover-field-value {
    text-align: right;
    flex: 1;
    font-size: 13;
}
 
.popup-section{
    padding-top: 2px;
    border-top-style: solid;
    border-width: 1px;
    border-color: rgba(160, 160, 160, 0.3);
    padding-top: 6px;
}

.sdg-image{
    position: absolute;
    bottom: 5%;
    left: 1%;
    border-radius: 10px;
    width: 80px;
    z-index: 100;
}

.bivariate-legend-container {
    position: absolute;
    width: 130px;
    bottom: 19%;
    left: 50%;
    display: inline-block;
}

.bivariate-legend {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    transform: rotate(-45deg);
    z-index: 100;
}

.legend-square1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(-45deg) translate(-265%, -55%);
    border-radius: 2px;
    transform-origin: center center;
    z-index: 200;
}

.author {
    position: absolute;
    font-size: 0.65rem;
    color: #adb5bd;
    padding: 5px 5px;
    border-radius: 4px;
    bottom: 2%;
    right: 0%;
    background: rgba(26, 26, 46, 0.8);
    z-index: 100;
}

.legend-square {
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: red;
    border-radius: 3px;
    border: 2px solid transparent;
    z-index: 200;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.legend-square:hover {
    border-color: yellow;
    border-width: 2px;
    transform: scale(1.2);
}

.legend-square-active {
    border-color: yellow;
    border-width: 3px;
    border-radius: 3px;
    box-shadow: 1px;
    transform: scale(1.6);
}